<html>
    <head>
<body>
    <form method='GET' action =''>
        
        
        <label for="firstname">First Number: </label>
        <input type="text" name="first" >
        <br><br>
        <label for="lastname">Second Number: </label>
        <input type="text" name="second">
        <br><br>

        {% comment %} <label for="email">Third Number </label>
        <input type="text" name="third"  required>
        <br><br>
        <label for="password">Forth Number </label>
        <input type="text" name="fourth"  required>
        <br><br> {% endcomment %}

        <input type="submit">
        <br><br><br><br>
        <legrnd>Output</lehend>    <br><br>
            <input type="text" value="{{sum}}">
    </form>
</body>

